<div class="jumbotron text-center">

  <h1>Hello world</h1>
  <p class="lead">I am Antti.</p>
  <h1>
    <a href="http://github.com/Sunave" target="_blank"><i class="fa fa-github"></i></a>
  </h1>
  <img src="<%= asset_path('antti.jpg') %>" class="img-circle img-responsive">
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Keywords and info</h2>
    </div>
  <div class="panel-body">
    <p>I'm a computer science and usability enthusiast. My interests include <br>
      <% @tags.each do |tag| %>
        <span class="label label-info">#<%= tag %></span>
      <% end %>
    </p>
  </div>
  </div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Posts by others</h3>
  </div>
  <div class="panel-body">
  <div class="list-group list-">
  <% @posts.each do |post| %>
    <p>
      <h4 class="list-group-item-heading"><%= post.name %>:</h4>
      <div class="list-group-item"><%= post.message %></div>
      </p>
  <% end %>
  </div>

  <%= render 'form' %>
</div>
</div>




